<div style="height:100%; width:100%; left:0; top:0; position:absolute; display:table;">
  <div style="display:table-row;">
    <ast-menu>
      <ast-menu-item text="Tables">
        <ast-popup-menu>
          <ast-popup-menu-item *ngFor="let table of tables" [text]="table" (click)="openListWindow(table)"></ast-popup-menu-item>
        </ast-popup-menu>
      </ast-menu-item>
    </ast-menu>
  </div>
  <div id="wndViewport" style="display:table-row;height:100%;background-color:#444" #container></div>
</div>